<header class="navbar">
  <div class="navbar__logo">CodeCraft</div>

  <nav class="navbar__links">
    <a routerLink="/"        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
    <a routerLink="/questions" routerLinkActive="active">Preguntas</a>
    <a routerLink="/ask"      routerLinkActive="active" *ngIf="auth.isLoggedIn()">Nueva Pregunta</a>
    <a routerLink="/tag" routerLinkActive="active">Etiquetas</a>
  </nav>

  <div class="navbar__actions">
    <ng-container *ngIf="auth.isLoggedIn(); else guest">
      <a routerLink="/profile" routerLinkActive="active">Perfil</a>
      <button (click)="logout()" class="btn-out">Cerrar Sesión</button>
    </ng-container>
    <ng-template #guest>
      <a routerLink="/login"    routerLinkActive="active" class="btn">Iniciar Sesión</a>
      <a routerLink="/register" routerLinkActive="active" class="btn btn--outline">Registrarse</a>
    </ng-template>
  </div>
</header>

<router-outlet></router-outlet>
