<div class="overlay">
    <div class="tag-box" [formGroup]="tagForm">
      <h2>Crear Etiqueta</h2>
  
      <label for="name">Nombre:</label>
      <input id="name" type="text" formControlName="name" />
  
      <label for="description">Descripción:</label>
      <input id="description" type="text" formControlName="description" />
  
      <button (click)="createTag()">Crear etiqueta</button>
  
      @if (tagForm.invalid && tagForm.touched) {
        <div class="error">Revisa los campos antes de enviar</div>
      }
  
      <h3>Etiquetas existentes</h3>
      <ul class="tag-list">
        @for (tag of tags; track $index) {
          <li>
            <strong>{{ tag.name }}</strong> - {{ tag.description }}
          </li>
        }
      </ul>
    </div>
  </div>
  